$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    color: #595959;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}
h1, h4 {
    color: #3299BB;    
}

a {
    color: #3299BB;
}

.btn-primary {
border: 1px solid #3299BB;
background: #3299BB;
font-weight: bold;
color: #ffffff;    
}

.label-primary {
background: #00adef;
}

#topnav {
    background-color: #3299BB;
    border-radius: 0;
    border: none;
    margin: 0;
}

#topnav .navbar-brand, #topnav .navbar-nav > li > a {
    color: #fff;
}

#topnav .navbar-nav > .active > a, #topnav .navbar-nav > .active > a:hover, #topnav .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    text-decoration: underline;
    background: none;
}

#filter-bar {
    background-color: #E9E9E9;
    color: #777777;
    border-bottom: 1px solid #BCBCBC;
    padding: 0 0 7px 0;
}

#market-summary h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

#filter-bar h5 {
    margin-bottom: 5px;
    color: #777777;
    font-weight: bold;
}

#filter-summary ul {
    padding: 0 0 0 16px;
}

#filter-update-btn {
    margin: 10px 0 10px 0;
}
.filter {
    background-color: rgb(231, 231, 231);
    color: #777777;
    border-bottom: 1px solid rgb(231, 231, 231);
    display: none;
    padding-bottom: 20px;
}